@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@font-face {
  font-family: Title;
  src: url(../fonts/Coustard-Regular.ttf);
}

body {
  font-family: Title;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
#logo {
  max-width: 2.5em;
}
#logo-text {
  font-size: 1.3em;
  font-family: "Kaushan Script", cursive;
  font-weight: 800;
}
nav ul li a {
  color: black !important;
}
nav ul li a:hover {
  opacity: 0.7;
}
.masthead {
  text-align: center;
  height: 100vh;
  min-height: 500px;
  background-image: url(../img//hero/banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead .col-12 {
  padding-top: 10em;
}
.masthead h1 {
  color: #e64549;
}
.masthead p {
  font-weight: 500;
}
.masthead ul {
  text-align: center;
  display: flex;
  justify-items: center;
}
.masthead ul li {
  padding-left: 0.5em;
}
.masthead a {
  text-decoration: none;
  color: white;
}
.masthead a:hover {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  #video {
    margin-top: 0;
    padding-top: 0 !important;
    height: 20em;
  }
}

.py-5 {
  width: 100% !important;
  color: white;
  overflow: hidden !important;
}

#about {
  color: #333333;
  padding-top: 6em !important;
  padding-bottom: 6em !important;
  background-color: #f0f8ff;
  -ms-transform: skewY(2deg); /* IE 9 */
  -webkit-transform: skewY(2deg); /* Safari 3-8 */
  transform: skewY(2deg);
}
#about .container {
  -ms-transform: skewY(-2deg); /* IE 9 */
  -webkit-transform: skewY(-2deg); /* Safari 3-8 */
  transform: skewY(-2deg);
}
.subtext {
  font-weight: 600;
}

.features {
  margin-top: 1.5em;
  vertical-align: center;
  text-align: center;
  overflow: hidden !important;
  width: 100% !important;
}
.features .container {
  padding-top: 3em;
  padding-bottom: 3em;
}
.features h5 {
  opacity: 5;
  color: #e64549;
  font-size: 2.5em;
}
@media only screen and (max-width: 600px) {
  .use {
    padding-top: 2em !important;
  }
}
.use {
  color: #333333 !important;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
  margin-top: 1em;
  -ms-transform: skewY(-2deg); /* IE 9 */
  -webkit-transform: skewY(-2deg); /* Safari 3-8 */
  transform: skewY(-2deg);
}
.use .container {
  -ms-transform: skewY(2deg); /* IE 9 */
  -webkit-transform: skewY(2deg); /* Safari 3-8 */
  transform: skewY(2deg);
}
.use ul {
  list-style-type: disc;
}
.title {
  color: #e64549;
  font-size: 2.5em;
  font-weight: 500;
}
.enjoy {
  max-width: 100% !important;
  margin-top: 4em;
  padding-bottom: 2.5em;
  overflow: hidden;
}
.enjoy p {
  font-size: 1.5em;
}
.enjoy-span {
  color: #e64549;
  font-weight: 700;
}
.enjoy ul {
  display: flex;
  justify-content: center;
}
.enjoy ul li {
  margin-right: 3em;
}
#form {
  margin-top: 2em;
  display: none;
}

.off-title {
  margin-top: 1em;
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .off-title {
    font-size: 1.5em;
  }
}
.offer {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 0.6em;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
}
.red-text {
  font-weight: 800;
  font-size: 1.5em;
  color: red;
}

#timer-text {
  font-weight: 900;
  font-size: 2.5em;
}
@media only screen and (max-width: 600px) {
  #timer-text {
    font-weight: 900;
    font-size: 1.8em;
  }
}
#month {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  max-width: 6em;
}
